<% if item.errors.any? %>
  <div class="alert alert-danger">
      The form contains <%= pluralize(item.errors.count, "error") %>.
      <ul>
      <% item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!--エラー文がnull:falseとpresence:trueの２つ出てくるので、要検討-->