<div class="container">
  <h1 class="item-header">商品編集</h1>
  <%= render "error", item: @item %>

    <div class="row">
      <%= form_with model:@item, url:admin_item_path(@item), local:true do |f| %>
      <%= render "form", f: f, item: @item, edit_flag: true %>
      <% end %>
    </div>
</div>

