<div class="container">
  <h1 class="item-header">商品一覧</h1>

  <%= link_to new_admin_item_path do %>
    <i class="fas fa-plus-circle fa-3x new-botton"></i>
  <% end %>

  <%= render "table", items: @items %>
  <%= paginate @items %>
</div>
