<% if @model == 'customer' %>
	<h3>会員名 "<%= @content %>" の検索結果</h3>
  <%= render 'admin/end_users/index', end_users: @records %>
<% elsif @model == 'item' %>
	<h3>商品名 "<%= @content %>" の検索結果</h3>
  <%= render 'admin/items/table', items: @records %>
<!--<%# else %>-->
<!--  <h3>購入者 "<%#= @content %>" の検索結果</h3>-->
<!--  <%#= render 'orders/index', orders: @records %>-->
<% end %>
