/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
  position: relative;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.item-lists {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.welcome {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.title {
  text-align: center;
}

// Bootstrapのnavbar-fixed-topを使用するときは、レイアウトでbody（本文）と重なるため、あわせてCSSも記述。
body {
  padding-top: 120px;
}

.welcome-message {
  color: white;
  padding: 15px 25px 0 0;
}


// 鈴木追加分

.admin-login-form{
  display:flex;
  justify-content:center;
}

.admin-login-title{
  padding:30px 0px;
}

.admin-form-input{
  padding:10px;
  margin:0 auto;
}

.admin_login_button{
  display:flex;
  justify-content:center;
  margin:30px;
}

// 鈴木追加分

// ジャンル検索機能
.genre-search {
  margin-top: 20px;
}

.genre-index {
  width: 80%;
  border: 3px solid #444444;
}

.genre-index1, .genre-index2 {
  height: 40px;
  text-align: center;
  font-size: 15px;
  border: 1px solid gray;
  font-weight: bold;
}

.genre-index1 {
  background-color: #DDDDDD;
  border-bottom: 2px solid #444444;
  color: black;
  font-size: 18px;
}

.genre-link {
  text-decoration: none;
  color: gray;
}

// 商品一覧（顧客）
.index-image {
  margin: 10px 15px 0 0;
}

.item-count {
  font-size: 20px;
  font-weight: bold;
}

.item-link {
  text-decoration: none;
  color: #444444;
  font-weight: bold;
  font-size: 16px;
}

.item-price {
  font-size: 15px;
  font-weight: bold;
}

// トップページ
.more {
  margin: 20px 0 0 15px;
}

.more-link {
  text-decoration: none;
  color: #3333FF;
  font-weight: bold;
  font-size: 20px;
}

// 商品詳細ページ（顧客）
.show-item {
  margin-top: 50px;
}

.show-item-name {
  font-weight: bold;
}

.item-price {
  font-size: 20px;
}

// テーブルタグ
table {
  border-collapse: collapse;
  width: 1000px;
  font-size: 12px;
  margin: auto;
  text-align: center;
}
table th {
  color: black;
  background-color: lightgray;
  padding: 10px;
}
table td {
  color: black;
  background-color: #F5F5F5;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

// カート内商品
.several-buttons {
  margin: 70px auto auto 10px;
}

.info-button {
  margin-top: 70px;
}

.all-delete {
  margin: 50px 0 auto 900px;
}

.total-price {
  margin: auto;
}

// 注文確認
.confirm-info {
  margin: auto;
}

.thanks_message {
  text-align: center;
  margin-top: 200px;
}

// ヘッダー
header {
  background-color: #FFFFCC;
  position: absolute;
  top: 0;
  background-position: center top;
  background-size: contain;
}

.header-name {
  font-size: 30px;
  font-family: impact;
}

.header-link {
  width: 120px;
}

.header-icon-5 {
  font-size: 2em;
  margin-left: 20px;
}

.header-icon-4 {
  font-size: 2em;
  margin-left: 15px;
}

.header-icon-3 {
  font-size: 2em;
  margin-left: 3px;
}

.header-icon-6 {
  font-size: 2em;
  margin-left: 25px;
}

.search-form {
  margin-right: 50px;
}

// フッター
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #FFFFCC;
  background-position: center bottom;
  background-size: contain;
  position: absolute;
  bottom: 0;
}

.footer-text {
  color: #0066FF;
}

// トップページJS
#slide-js {
  height: 420px;
  width: 800px;
}

.image1 {
  background-image: url(image1.jpg);
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}
.image5 {
  background-image: url(image5.jpg);
} 
