<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>ジャンル検索</th> -->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <td>ケーキ</td>-->
<!--      <td>焼き菓子</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->