<body>
  <div class="container">
    <div class="row top-box">
      <div class="col-lg-3">
        <%= render "genre", genres: @genres %>
      </div>
      <div class="col-lg-9">
        <h2 class="item-head"><b>商品一覧</b> <i class="fas fa-birthday-cake"></i></h2>
        <%= render "item", items: @items %>
        <%#= paginate @items %>
      </div>
    </div>
  </div>
</body>
