<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="footer-icon"><a href="https://twitter.com/cyberagent_pr"><i class="fab fa-twitter"></i></a></div>
        <div class="footer-icon"><a href="https://www.instagram.com/cyberagent_official/"><i class="fab fa-instagram"></i></a></div>
        <div class="footer-icon"><a href="https://www.facebook.com/CyberAgent.Inc/"><i class="fab fa-facebook-f"></i></a></div>
        <div class="footer-text">TEL: <b>0120-828-016</b></div>
        <div class="footer-text">Address：<b>長野県北佐久郡軽井沢町大字軽井沢878</b></div>
      </div>
      <div class="col-lg-6">

        <div class="footer-text2"><b><a href="https://www.cyberagent.co.jp/sitemap/">サイトマップ</a></b></div>
        <div class="footer-text2"><b><a href="https://www.cyberagent.co.jp/privacy/">プライバシーポリシー</a></b></div>
        <div class="footer-text2"><b><a href="https://www.cyberagent.co.jp/terms/">サイトご利用規約</a></b></div>
        <div class="footer-text2"><b><a href="https://www.cyberagent.co.jp/contact/">お問い合わせ</a></b></div>
        <div class="footer-text2"><b>© All rights reserved by Nagano Cake.</b></div>
      </div>
    </div>
  </div>
</footer>